<div class="h-screen z-0 bg-blauf flex select-none overflow-hidden">
  <div class="bg-blancb md:pt-16 px-4 pt-4 gap-5 md:gap-3 flex flex-col w-full md:w-auto">
    <h1 class="text-4xl font-extrabold text-center mt-2">CHATS</h1>
    <div [routerLink]="['/client/projects/1/chats']" routerLinkActive="router-link-active"  class="bg-blaum px-5 py-2 rounded-3xl relative flex flex-col hover:translate-x-2 transition-all duration-300">
      <span class="font-extrabold text-2xl my-auto uppercase min-w-[200px]">stayfit</span>
      <span class="font-semibold text-xl my-auto uppercase min-w-[200px]">4 chats</span>
      <span class="absolute drop-shadow-lg top-2 right-2 ml-auto mr-auto font-extrabold rounded-full bg-red-500 text-blancb text-2xl w-10 h-10 flex">
        <span class="m-auto relative">1<span class="m-auto animate-ping absolute top-0 left-0">1</span></span>
      </span>
    </div>
    <div class="bg-blaum px-5 py-2 rounded-3xl relative flex flex-col hover:translate-x-2 transition-all duration-300">
      <span class="font-extrabold text-2xl my-auto uppercase min-w-[200px]">stayfit</span>
      <span class="font-semibold text-xl my-auto uppercase min-w-[200px]">4 chats</span>
      <span class="absolute drop-shadow-lg top-2 right-2 ml-auto mr-auto font-extrabold rounded-full bg-red-500 text-blancb text-2xl w-10 h-10 flex">
        <span class="m-auto relative">1<span class="m-auto animate-ping absolute top-0 left-0">1</span></span>
      </span>
    </div>
    <div class="bg-blaum px-5 py-2 rounded-3xl relative flex flex-col hover:translate-x-2 transition-all duration-300">
      <span class="font-extrabold text-2xl my-auto uppercase min-w-[200px]">stayfit</span>
      <span class="font-semibold text-xl my-auto uppercase min-w-[200px]">4 chats</span>
      <span class="absolute drop-shadow-lg top-2 right-2 ml-auto mr-auto font-extrabold rounded-full bg-red-500 text-blancb text-2xl w-10 h-10 flex">
        <span class="m-auto relative">1<span class="m-auto animate-ping absolute top-0 left-0">1</span></span>
      </span>
    </div>
    <div class="bg-blaum px-5 py-2 rounded-3xl relative flex flex-col hover:translate-x-2 transition-all duration-300">
      <span class="font-extrabold text-2xl my-auto uppercase min-w-[200px]">stayfit</span>
      <span class="font-semibold text-xl my-auto uppercase min-w-[200px]">4 chats</span>
      <span class="absolute drop-shadow-lg top-2 right-2 ml-auto mr-auto font-extrabold rounded-full bg-red-500 text-blancb text-2xl w-10 h-10 flex">
        <span class="m-auto relative">1<span class="m-auto animate-ping absolute top-0 left-0">1</span></span>
      </span>
    </div>
  </div>
  <div class="bg-blauf w-full hidden md:flex">

  </div>
</div>

<!--
<div class="sm:m-auto flex flex-col gap-2 text-blancb text-center mb-10">
      <h1 class="text-4xl sm:text-6xl font-extrabold uppercase">YOUR CHATS</h1>
  </div>
  <div class="sm:m-auto gap-2 text-blancb flex flex-col">
    <h2 class="text-2xl sm:text-4xl font-extrabold mb-3 uppercase text-center">Projects</h2>
  </div>
-->