<div class="min-h-screen z-0 bg-blauf flex flex-col lg:p-20 xl:p-32 px-4 pt-40 select-none overflow-hidden relative">
  <div class="mx-auto flex flex-col gap-2 text-blancb">
      <h1 class="text-4xl sm:text-6xl font-extrabold uppercase">PROJECTS</h1>
  </div>
  <p class="text-blancb my-2 md:my-20 text-center text-2xl sm:text-4xl uppercase font-bold">These are some affiliates/projects that we made.</p>
  <div class="mx-auto max-h-[50vh] relative">
    <img class="mx-auto max-h-[50vh]" src="assets/projects/networking.png">
  </div>
</div>
<div class="flex-col flex flex-grow basis-0">
  <ng-container *ngFor="let pack of projects; let i = index">
    <div class="bg-gradient-to-b hidden md:flex {{ projects.length == 1 ? 'bg-blauf':(i == 0 ? 'from-blauf to-blaum':(i == projects.length - 1 ? 'from-blaum to-blauf':'bg-blaum'))}} flex flex-col md:flex-row justify-center content-center flex-wrap py-20 px-2 lg:px-40 gap-20 xl:gap-28 min-h-[40vh]">
      <div class="bg-blancb p-4 rounded-xl hover:drop-shadow-2xl transition-all duration-500 drop-shadow-md flex flex-col flex-grow basis-0 max-w-[240px] max-h-[350px]" *ngFor="let el of pack">
        <h2 class="text-blauf font-extrabold uppercase text-xl text-center">{{ el.name }}</h2>
        <a href="https://{{el.domain}}" target="_blank" class="m-auto"><img src="{{el.image}}" class="hover:scale-125 transition-all duration-500" alt=""></a>
        <a href="https://{{el.domain}}" target="_blank" class="text-blaum underline text-center font-bold mx-auto">{{ el.domain }}</a>
      </div>
    </div>
  </ng-container>
    <div class="bg-gradient-to-b flex md:hidden bg-blauf flex-col md:flex-row justify-center content-center flex-wrap py-20 px-2 lg:px-40 xl:px-60 gap-20 xl:gap-28 min-h-screen">
      <ng-container *ngFor="let pack of projects; let i = index">
        <div class="bg-blancb p-4 rounded-xl hover:drop-shadow-2xl transition-all duration-500 drop-shadow-md flex flex-col flex-grow basis-0 max-w-[240px] max-h-[350px]" *ngFor="let el of pack">
          <h2 class="text-blauf font-extrabold uppercase text-xl text-center">{{ el.name }}</h2>
          <a href="https://{{el.domain}}" target="_blank" class="m-auto"><img src="{{el.image}}" class="hover:scale-125 transition-all duration-500" alt=""></a>
          <a href="https://{{el.domain}}" target="_blank" class="text-blaum underline text-center font-bold mx-auto">{{ el.domain }}</a>
        </div>
      </ng-container>
    </div>
</div>