[contenteditable=true]:empty:before{
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
    opacity: 50%;
}

.content {
    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s;
}
:host {
    height: auto;
    width: auto;
    @media (min-width: 768px) {
        .md\:w-auto {
            width: 100%;
        }
    }
}