<div class="h-screen z-0 bg-blauf flex flex-col lg:p-20 xl:p-32 px-4 pt-24 select-none overflow-hidden">
  <div class="sm:m-auto flex flex-col gap-2 text-blancb text-center mb-10">
      <h1 class="text-4xl sm:text-6xl font-extrabold uppercase">WELCOME BACK<br>{{ name }}</h1>
  </div>
  <div class="sm:m-auto gap-2 text-blancb flex flex-col">
    <h2 class="text-2xl sm:text-4xl font-extrabold mb-3 uppercase text-center">Latests projects</h2>
    <ng-container *ngFor="let project of projects; let i = index">
      <div [routerLink]="['projects/'+project._id]" class="flex text-center flex-col md:flex-row gap-2 bg-blaum my-2 rounded-xl px-8 py-5 drop-shadow-md hover:drop-shadow-xl transition-all hover:scale-105 duration-500 cursor-pointer" *ngIf="i < 3">
        <h2 class="text-xl sm:text-3xl font-semibold my-auto uppercase">Project</h2>
        <span class="font-extrabold text-2xl sm:text-4xl my-auto uppercase">{{ project.name }}</span>
      </div>
    </ng-container>
  </div>
</div>