@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0.5rem);
    }
    75% {
        transform: translateX(-0.5rem);
    }
    100% {
        transform: translateX(0);
    }
}
  
.animate-error {
    animation: shake 0.2s ease-in-out 0s 2;
}

.border-error {
    border-color: rgb(239 68 68) !important;
}

.border-correct {
    border-color: rgb(34 197 94) !important;
}

.text-shadow {
    text-shadow: 0px 0px 14px rgba(255,255,255,0.8);
}

body {
    scroll-behavior: smooth;
}

.hideNav {
    display: none !important;
}



ul {
    list-style: inherit !important;
    margin: inherit !important;
    padding: inherit !important;
    padding-left: 20px !important;
}

.angular-editor-textarea {
    height: 167px !important;
    border-radius: 1.5rem;
    @media (max-width: 768px) {
        height: 120px !important;
    }
    resize: none !important;
}
.angular-editor-textarea {
    @apply outline-none focus:outline-none ring-0 focus:ring-0;
}